In [6]:
import pandas as pd


# Load the Excel files
df_2009 = pd.read_csv(r"C:\Users\t10mp22\OneDrive - University of Aberdeen\Project\Demand data\demanddata_2009.csv")
df_2010 = pd.read_csv(r"C:\Users\t10mp22\OneDrive - University of Aberdeen\Project\Demand data\demanddata_2010 (1).csv")
df_2011 = pd.read_csv(r"C:\Users\t10mp22\OneDrive - University of Aberdeen\Project\Demand data\demanddata_2011.csv")
df_2012 = pd.read_csv(r"C:\Users\t10mp22\OneDrive - University of Aberdeen\Project\Demand data\demanddata_2012.csv")
df_2013 = pd.read_csv(r"C:\Users\t10mp22\OneDrive - University of Aberdeen\Project\Demand data\demanddata_2013.csv")
df_2014 = pd.read_csv(r"C:\Users\t10mp22\OneDrive - University of Aberdeen\Project\Demand data\demanddata_2014.csv")
df_2015 = pd.read_csv(r"C:\Users\t10mp22\OneDrive - University of Aberdeen\Project\Demand data\demanddata_2015.csv")
df_2016 = pd.read_csv(r"C:\Users\t10mp22\OneDrive - University of Aberdeen\Project\Demand data\demanddata_2016.csv")
df_2017 = pd.read_csv(r"C:\Users\t10mp22\OneDrive - University of Aberdeen\Project\Demand data\demanddata_2017.csv")
df_2018 = pd.read_csv(r"C:\Users\t10mp22\OneDrive - University of Aberdeen\Project\Demand data\demanddata_2018.csv")
df_2019 = pd.read_csv(r"C:\Users\t10mp22\OneDrive - University of Aberdeen\Project\Demand data\demanddata_2019.csv")
df_2020 = pd.read_csv(r"C:\Users\t10mp22\OneDrive - University of Aberdeen\Project\Demand data\demanddata_2020.csv")
df_2021 = pd.read_csv(r"C:\Users\t10mp22\OneDrive - University of Aberdeen\Project\Demand data\demanddata_2021.csv")
df_2022 = pd.read_csv(r"C:\Users\t10mp22\OneDrive - University of Aberdeen\Project\Demand data\demanddata_2022.csv")
df_2023 = pd.read_csv(r"C:\Users\t10mp22\OneDrive - University of Aberdeen\Project\Demand data\demanddata_2023.csv")


# Combine the DataFrames
combined_df = pd.concat([df_2009, df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022, df_2023], ignore_index=True)

# Save the combined DataFrame to a new Excel file
combined_file_path = r"C:\Users\t10mp22\OneDrive - University of Aberdeen\Project\demand dat 2009 to 2023.csv"
combined_df.to_csv(combined_file_path, index=False)

In [7]:
combined_df

,SETTLEMENT_DATE,SETTLEMENT_PERIOD,ND,TSD,ENGLAND_WALES_DEMAND,EMBEDDED_WIND_GENERATION,EMBEDDED_WIND_CAPACITY,EMBEDDED_SOLAR_GENERATION,EMBEDDED_SOLAR_CAPACITY,NON_BM_STOR,...,IFA_FLOW,IFA2_FLOW,BRITNED_FLOW,MOYLE_FLOW,EAST_WEST_FLOW,NEMO_FLOW,NSL_FLOW,ELECLINK_FLOW,SCOTTISH_TRANSFER,VIKING_FLOW
0,01-JAN-2009,1,37910,38704,33939,54,1403,0,0,0,...,2002,0,0,-161,0,0,NaN,NaN,NaN,NaN
1,01-JAN-2009,2,38047,38964,34072,53,1403,0,0,0,...,2002,0,0,-160,0,0,NaN,NaN,NaN,NaN
2,01-JAN-2009,3,37380,38651,33615,53,1403,0,0,0,...,2002,0,0,-160,0,0,NaN,NaN,NaN,NaN
3,01-JAN-2009,4,36426,37775,32526,50,1403,0,0,0,...,1772,0,0,-160,0,0,NaN,NaN,NaN,NaN
4,01-JAN-2009,5,35687,37298,31877,50,1403,0,0,0,...,1753,0,0,-160,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262939,31/12/2023,44,25269,25921,22546,2707,6488,0,15905,0,...,1879,-4,907,23,0,999,1334.0,997.0,-535.0,601.0
262940,31/12/2023,45,24254,24977,21608,2734,6488,0,15905,0,...,1154,-4,1002,111,0,999,960.0,997.0,-336.0,601.0
262941,31/12/2023,46,23455,24134,20889,2761,6488,0,15905,0,...,1085,-5,1003,130,0,999,884.0,998.0,-256.0,599.0
262942,31/12/2023,47,22533,23714,20081,2767,6488,0,15905,0,...,475,-4,801,71,-63,999,512.0,998.0,-30.0,512.0
262943,31/12/2023,48,22093,23732,19707,2773,6488,0,15905,0,...,432,-4,793,-78,-82,999,436.0,998.0,-125.0,506.0